*.xml
dist/
_output/
# Auto-added by update-configs.py to ignore ad-hoc Go binaries
cmd/cluster-lifecycle/cluster-lifecycle
# Auto-added by update-configs.py to ignore ad-hoc Go binaries
cmd/rcctl/rcctl
