name: test

on:
  pull_request:
  push:
  workflow_call:

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      -
        name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '>=1.21'
      -
        name: Run tests
        shell: bash
        run: make test
